<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:include="~{fragments/head}"></th:block>
  <title>All Recipes</title>
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <th:block th:include="~{fragments/nav-bar}"></th:block>
  </header>
 <!-- End Header -->

  <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2 data-aos="fade-up">

            <div class="section-header">
              <p > <span>Add</span> Recipe
              </p>
            </div>

          </h2>
          <ol>
            <li><a onclick="history.back()"> Back </a></li>
            <li> Add Recipe </li>
          </ol>
        </div>

      </div>
    </div><!-- End Breadcrumbs -->


    <section id="why-us" class="why-us section-bg">
      <div class="container justify-content-center" data-aos="fade-up">

        <div class="col-lg-12 justify-content-center" data-aos="fade-up" data-aos-delay="100">

            <div class="row lg-12 justify-content-center">
              <div class="col-lg-6 justify-content-center rounded-5" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box d-flex flex-column align-items-center rounded-5 ">
                  <i class="bi bi-file-earmark-plus"></i>
                  <div class="row justify-content-start ">
                    <form id="add-route-form" class="rounded text-white mt-5 justify-content-center"
                          th:action="@{/add-recipe}"
                          th:method="POST"
                          th:object="${recipeAddModel}"
                          enctype="multipart/form-data">
                      <h2 class="logo-home-text text-body-secondary">Add recipe</h2>
                      <hr class="bg-hero hr-2 bg-body-secondary"/>
                      <div>
                        <div class="form-group">
                          <label for="inputName" class="col-form-label text-body-secondary ">
                            <small class="text-danger"> * </small>
                            <strong> Title </strong> </label>
                        </div>
                        <div class="form-group">
                          <input name="name"
                                 th:value="*{name}"
                                 th:errorclass="is-invalid"
                                 required minlength="5" maxlength="100"
                                 type="text"
                                 id="inputName"
                                 class="form-control rounded-5"
                                 aria-describedby="inputNameError">
                          <small class="text-danger" th:if="${#fields.hasErrors('name')}">
                            Title length must be between 5 and 100 characters
                          </small>
                        </div>
                      </div>
                      <div>
                        <div class="form-group">
                          <label for="description" class="col-form-label text-body-secondary ">
                            <small class="text-danger"> * </small>
                            <strong> Description </strong>
                          </label>
                          <textarea style="width:510px;max-height:200px;overflow-y:auto;text-align:left;" id="description" rows="5" name="description"   th:errorclass="is-invalid" required minlength="5" aria-describedby="inputDescriptionError" th:field="*{description}" class="form-control rounded-5"></textarea>
                        </div>
                      </div>
                      <div class="mt-6 align-items-center">
                        <div class="form-group">
                          <label for="image" class="col-form-label text-body-secondary"> <strong>Picture</strong>  </label>
                        </div>
                        <div class="form-group rounded-5">
                          <input type="file" name="image"
                                 id="image"
                                 accept="image/*"
                                 class="form-control-file text-body-secondary"
                                 aria-describedby="imageError">
                          <small id="imageError"
                                 class="invalid-feedback  form-text bg-danger rounded"> Invalid picture </small>
                        </div>
                      </div>
                      <div class="mt-6">
                        <div class="form-group">
                          <label class="text-center text-body-secondary mt-6" for="category">
                            <small class="text-danger"> * </small>
                            <strong> Category </strong>
                          </label>
                          <select id="category"
                                  name="category"
                                  class="form-control-color w-50 m-2 rounded-5 text-center">
                            <option value=""> Select </option>
                            <option th:each="c : ${T(com.example.myshoppingapp.model.enums.Category).values()}"
                            th:text="${c}"
                            th:value="${c}"
                            th:selected="${c} == *{category}">
                            Category type
                            </option>
                          </select>
                          <div>
                            <small class="text-danger" th:if="${#fields.hasErrors('category')}">
                              Category type is required
                            </small>
                          </div>

                        </div>
                      </div>
                      <div>

                        <div class="form-group">
                          <label for="url" class="col-form-label text-body-secondary"> <strong>Recipe Url</strong> </label>
                          <input id="url" type="text"
                                 name="url"
                                 th:value="*{url}"
                                 th:errorclass="is-invalid"
                                 class="form-control rounded-5" placeholder="Add recipe link ...">
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="imageUrl" class="col-form-label text-body-secondary"> <strong>Picture Url</strong> </label>
                        <input id="imageUrl" type="text"
                               name="imageUrl"
                               th:value="*{imageUrl}"
                               th:errorclass="is-invalid"
                               class="form-control rounded-5"
                               placeholder="Add picture ...">
                      </div>
                      <div class="d-flex justify-content-center mt-4">
                        <button class="btn btn-outline-dark  rounded-5 mx-1" type="submit"><strong>Save</strong></button>
                      </div>
                    </form>
                  </div>

                </div>
              </div><!-- End Icon Box -->
            </div>
        </div>
      </div>
    </section>






  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer>
    <th:block th:include="~{fragments/footer}"></th:block>
  </footer>

</body>

</html>