<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:include="~{fragments/head}"></th:block>
  <title>All Recipes</title>
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <th:block th:include="~{fragments/nav-bar}"></th:block>
  </header>
 <!-- End Header -->

  <main id="main-recipes">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2 data-aos="fade-up">Inspiration</h2>


            <a  th:href="@{/add-recipe}"
               class="button bg-transparent"> <i class="fa-solid fa-book-open-reader"></i> Add recipe </a>

          <form  th:method="get" th:action="@{/search-recipes}">
            <input type="text" class="form-control bg-transparent" id="searchRecipe" placeholder="Search recipe . . ." name="text">
          </form>
          <form  th:method="get" th:action="@{/filter-recipes}"
                   class="bg-transparent" >
              <select class="form-control-color w-75 bg-transparent" name = "category" onchange="this.form.submit()">
              <option value="">  Filter by  </option>
              <option th:each="category : ${T(com.example.myshoppingapp.domain.enums.Category).values()}"
                      th:text="${category}"
                      th:value="${category}">
              </option>
              </select>
          </form>

          <ol>
            <li><a th:href="@{/home}">Home</a></li>
            <li>Recipes</li>
          </ol>
        </div>

      </div>
    </div><!-- End Breadcrumbs -->




    <!-- ======= Recipes Section ======= -->
    <section id="chefs" class="chefs section-bg">
      <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-header">
          <h2>Recipes</h2>
          <p>Latest <span>Delicious</span> Recipes</p>
        </div>

        <div class="row gy-4 justify-content-center">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up" data-aos-delay="100"
               th:each="recipe : ${recipes.getContent()}"
               th:object="${recipe}">

            <div class="chef-member  rounded-4 border-5 bg-body-secondary">
              <div class="member-img bg-body-secondary">
                <img th:src="*{imageUrl}" width="350" height="250" class="square" alt="">
                <div class="social">
                  <a title="Add recipe to my Favorite collection" class="button text-success" th:href="@{/save-recipe-to-favorites/{id}(id=*{id})}">
                    <i class="bi bi-suit-heart-fill"> Save </i>
                    <span title="Number of Saves" class ="text-dark" th:unless="*{numberOfSaves == 0}"  >
                      ( <th:block th:text="*{numberOfSaves}"></th:block> ) </span>
                  </a>
                  <hr class="bg-hero hr-1 bg-body-secondary"/>
                  <a title="Open recipe details" class="button text-dark" href="#" th:href="@{/recipe/{id}(id=*{id})}"><i class="bi bi-link-45deg"> Open </i></a>
                </div>
              </div>
              <div class="member-info bg-transparent">
                <h4 th:text="*{name}"></h4>
                <span > Added by
                   <th:block class="text-dark" th:text="*{author.username}"> </th:block>
                  <th:block  th:text="*{getDays()}"></th:block>
                   days ago
                 </span >
              </div>
            </div>
          </div><!-- End Recipes Member -->
        </div>

<!--        Pagination-->
        <div class="container  mt-5" th:unless="${recipes.getTotalPages() == 1}">
          <nav aria-label="pagination" >
            <ul class="pagination justify-content-center">
              <li class="page-item" th:classappend="${recipes.isFirst()} ? 'disabled' : ''">
                <a th:unless="${recipes.isFirst()}"
                   th:href="@{/all-recipes(page=1)}"
                   class="page-link text-dark" href="#"><i class="bi bi-skip-backward"></i></a>
                <a th:if="${recipes.isFirst()}"
                   class="page-link text-dark" href="#"><i class="bi bi-skip-backward"></i></a>
              </li>
              <li class="page-item" th:classappend="${recipes.hasPrevious() ? '' : 'disabled'}">
                <a th:if="${recipes.hasPrevious()}"
                   th:href="@{/all-recipes(page=${recipes.getNumber()})}"
                   class="page-link text-dark" href="#"><i class="bi bi-caret-left"></i></a>
                <a th:unless="${recipes.hasPrevious()}"
                   class="page-link text-dark" href="#"><i class="bi bi-caret-left"></i></a>
              </li>
              <li class="page-item" th:classappend="${recipes.hasNext() ? '' : 'disabled'}">
                <a th:if="${recipes.hasNext()}"
                   th:href="@{/all-recipes(page=${recipes.getNumber() + 2})}"
                   class="page-link text-dark" href="#"><i class="bi bi-caret-right"></i></a>
                <a th:unless="${recipes.hasNext()}"
                   class="page-link text-dark" href="#"><i class="bi bi-caret-right"></i></a>
              </li>
              <li class="page-item" th:classappend="${recipes.isLast()} ? 'disabled' : ''">
                <a th:unless="${recipes.isLast()}"
                   th:href="@{/all-recipes(page=${recipes.getTotalPages()})}"
                   class="page-link text-dark" href="#"><i class="bi bi-skip-forward"></i></a>
                <a th:if="${recipes.isLast()}"
                   class="page-link text-dark" href="#"><i class="bi bi-skip-forward"></i></a>
              </li>
            </ul>
          </nav>
        </div>

      </div>
    </section><!-- End Chefs Section -->





  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer>
    <th:block th:include="~{fragments/footer}"></th:block>
  </footer>

</body>

</html>