<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:include="~{fragments/head}"></th:block>
  <title>All Recipes</title>
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <th:block th:include="~{fragments/nav-bar}"></th:block>
  </header>
 <!-- End Header -->

  <main id="main-recipes">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2 data-aos="fade-up">Inspiration</h2>

          <!--          buttons-->
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-8 col-xs-8 justify-content-center">
              <form  th:method="get" th:action="@{/search-recipes}">
                <input type="text" class="form-control rounded-5 border-dark" id="searchRecipe" placeholder="Search recipe . . ." name="text">
              </form>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8 col-xs-8 justify-content-center">
              <form  th:method="get" th:action="@{/filter-recipes}">
                <select class="form-control-color rounded-5 text-center w-100" name = "category" onchange="this.form.submit()">
                  <option value="">  Filter by  </option>
                  <option th:each="category : ${T(com.example.myshoppingapp.model.enums.Category).values()}"
                          th:text="${category}"
                          th:value="${category}">
                  </option>
                </select>
              </form>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8 col-xs-8 justify-content-center">
              <button  class="btn btn-outline-dark rounded-5 w-100" >
                <a  th:href="@{/add-recipe}"
                    class="button"> <i class="fa-solid fa-book-open-reader"></i> Add recipe </a>
              </button>
            </div>
          </div>


          <ol>
            <li><a th:href="@{/all-recipes}">Go back</a></li>
            <li>Recipes by <span th:text="${category}"></span></li>
          </ol>
        </div>

      </div>
    </div><!-- End Breadcrumbs -->




    <!-- ======= Recipes Section ======= -->
    <section id="chefs" class="chefs section-bg">
      <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-header">
          <h2>Recipes</h2>
          <p>Category <span th:text="${category}"></span></p>
        </div>

        <div class="row gy-4 justify-content-center" th:unless="${recipes.isEmpty()}">

          <div class="col-lg-2 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up" data-aos-delay="100"
               th:each="recipe : ${recipes}"
               th:object="${recipe}">

            <div class="chef-member rounded-4 border-1 bg-body-secondary">
              <div class="member-img bg-body-secondary">
                <img th:unless="*{getLatestSavedId()}" th:src="*{imageUrl}" width="250" height="150" class="square" alt="">
                <img th:if="*{getLatestSavedId()}" th:src="@{/download/{id}(id=${recipe.getLatestSavedId()})}" width="250" height="150" class="square" alt="">
                <div class="social">
                  <a title="Add recipe to my Favorite collection" class="button text-success" th:href="@{/save-recipe-to-favorites/{id}(id=*{id})}">
                    <i class="bi bi-suit-heart-fill"> Save </i>
                    <span title="Number of Saves" class ="text-dark" th:unless="*{numberOfSaves == 0}"  >
                      ( <th:block th:text="*{numberOfSaves}"></th:block> ) </span>
                  </a>
                  <hr class="bg-hero hr-1 bg-body-secondary"/>
                  <a title="Open recipe details" class="button text-dark" href="#" th:href="@{/recipe/{id}(id=*{id})}"><i class="bi bi-link-45deg"> Open </i></a>
                </div>
              </div>
              <div class="member-info bg-transparent">
                <h4 th:text="*{name}"></h4>
                <span > Added by
                   <th:block class="text-dark" th:text="*{author.username}"> </th:block>
                  <th:block  th:text="*{getDays()}"></th:block>
                   days ago
                 </span >
                <div class="rating" >
                  <span class= "rating" th:if="${recipe.getRating() > 4.5}"><i class="bi bi-star-fill"></i></span>
                  <span class= "rating" th:if="${recipe.getRating() > 3.5}"><i class="bi bi-star-fill"></i></span>
                  <span class= "rating" th:if="${recipe.getRating() > 2.5}"><i class="bi bi-star-fill"></i></span>
                  <span class= "rating" th:if="${recipe.getRating() > 1.5}"><i class="bi bi-star-fill"></i></span>
                  <span class= "rating" th:if="${recipe.getRating() >= 1}"><i class="bi bi-star-fill"></i></span>
                </div>
              </div>
            </div>



          </div><!-- End Recipes Member -->


        </div>

        <div class="row gy-4 justify-content-center" th:if="${recipes.isEmpty()}">
          <p class="justify-content-center">
            <h6 class="text-center">
              Sorry, we still don't have any recipes with Category: "<span th:text="${category}"></span>" <br>
              But you can review our latest ones and chose from them...
            </h6>

          </p>

          <div class="list-group overflow-auto" th:unless="${allRecipes.isEmpty()}">
            <section id="gallery" class="gallery section-bg pb-0">
              <div class="container" data-aos="fade-up">
                <div class="section-header">
                  <h3 class="box-title text-secondary">Some of the latest recipes</h3>
                </div>
                <!--            for each picture...-->
                <div class="gallery-slider swiper" >
                  <div class="swiper-wrapper align-items-center" >
                    <div class="swiper-slide" th:each="recipe:${allRecipes}">
                      <img th:unless="${recipe.getLatestSavedId()}" th:src="${recipe.imageUrl}" class="img-fluid rounded-3" alt="" src="">
                      <img th:if="${recipe.getLatestSavedId()}" th:src="@{/download/{id}(id=${recipe.getLatestSavedId()})}" class="img-fluid rounded-3" alt="" src="">
                      <a title="Open recipe" class="list-group-item list-group-item-action active bg-transparent border-0"  aria-current="true"
                         th:href="@{/recipe/{id}(id=${recipe.id})}" >
                        <div class="d-flex w-100 justify-content-center">
                          <h6 class="mb-1 text-body-secondary" th:text="${recipe.name}"></h6>
                        </div>
                        <div class="rating" >
                          <span class= "rating" th:if="${recipe.getRating() > 4.5}"><i class="bi bi-star-fill"></i></span>
                          <span class= "rating" th:if="${recipe.getRating() > 3.5}"><i class="bi bi-star-fill"></i></span>
                          <span class= "rating" th:if="${recipe.getRating() > 2.5}"><i class="bi bi-star-fill"></i></span>
                          <span class= "rating" th:if="${recipe.getRating() > 1.5}"><i class="bi bi-star-fill"></i></span>
                          <span class= "rating" th:if="${recipe.getRating() >= 1}"><i class="bi bi-star-fill"></i></span>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>

              </div>
            </section><!-- End Gallery Section -->

          </div>





        </div>


      </div>
    </section><!-- End Chefs Section -->





  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer>
    <th:block th:include="~{fragments/footer}"></th:block>
  </footer>

</body>

</html>