<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:include="~{fragments/head}"></th:block>
  <title>All Recipes</title>
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <th:block th:include="~{fragments/nav-bar}"></th:block>
  </header>
 <!-- End Header -->

  <main id="main">
    <input type="hidden" name="recipeId" th:field="*{id}">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2 data-aos="fade-up">

            <div class="section-header">

            </div>

          </h2>
          <ol>
            <li><a onclick="history.back()"> Back </a></li>
            <li>Recipe Details</li>
          </ol>
        </div>

      </div>
    </div><!-- End Breadcrumbs -->











    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery section-bg pb-0">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <p  th:text="${recipe.name}"></p>
        </div>
<!--            for each picture...-->
        <div class="gallery-slider swiper" >
          <div class="swiper-wrapper align-items-center" >
            <div class="swiper-slide" th:each="picture :${pictures}">
              <a th:if="${recipe.getLatestSavedId()}" class="glightbox" data-gallery="images-gallery" th:src="@{/dbresources/images/{id}(id=${picture.id})}" >
                <img th:src="@{/download/{id}(id=${picture.id})}" class="img-fluid rounded-5" width="800" height="600"   alt="" src="">

              </a>
            </div>
          </div>
          <div class="swiper-pagination m-3"></div>
        </div>

      </div>
    </section><!-- End Gallery Section -->

    <div class="row mt-3 justify-content-center">
      <button type="button" class="btn btn-outline-dark col-1 rounded-5 mx-1" >
        <a th:href="@{/save-recipe-to-favorites/{id}(id=*{id})}"
           class="button"> <i class="bi bi-heart-fill"> Save </i> </a>
      </button>

      <button type="button" th:if="${recipe.getAuthor().username == #authentication.name}" class="btn btn-outline-dark col-1 rounded-5 mx-1" >
        <a th:href="@{/edit-recipe/{Id}(Id=*{id})}"
           class="button"> <i class="bi bi-pencil-square"> Edit </i> </a>
      </button>

      <button type="button" th:unless="${recipe.url.isBlank()}" class="btn btn-outline-dark col-1 rounded-5 mx-1" >
        <a th:href="${recipe.url}"
           class="button"> <i class="bi bi-link-45deg"> Link </i> </a>
      </button>
    </div>


    <section class="why-us section-bg" id="why-us">
      <div class="container justify-content-center" data-aos="fade-up">

        <div class="col-lg-12 justify-content-center" data-aos="fade-up" data-aos-delay="100">

            <div class="row lg-12 justify-content-center">
              <!-- Recipe Details -->
              <div class="col lg-6 md-8">
                <div class="col-lg-12 justify-content-left rounded-5" data-aos="fade-up" data-aos-delay="200">
                  <div class="icon-box d-flex flex-column align-items-center rounded-5 bg-body-secondary">

                    <div  >
                      <h1 style="font-family: serif; font-size: 24px"><strong>Description:</strong> </h1>
                      <label for="description"></label>
                      <textarea id="description" rows="16" cols="80" class="bg-transparent rounded-5 p-5  " th:text="${recipe.description}" readonly>Description: </textarea>
                    </div>

                    <div class="row justify-content-center mt-5">
                      <div class="col-lg-8">
                        <small class="mb-2 text-body-secondary"> shared by
                          <th:block  th:text="${recipe.getAuthor().getUsername()}"> </th:block>
                          <th:block  th:text="${recipe.getDays()}"></th:block>
                          days ago
                        </small>
                        <small class="mb-2 text-body-secondary" >
                          <div class="rating" >
                            <span class= "rating" th:if="${recipe.getRating() > 4.5}"><i class="bi bi-star-fill"></i></span>
                            <span class= "rating" th:if="${recipe.getRating() > 3.5}"><i class="bi bi-star-fill"></i></span>
                            <span class= "rating" th:if="${recipe.getRating() > 2.5}"><i class="bi bi-star-fill"></i></span>
                            <span class= "rating" th:if="${recipe.getRating() > 1.5}"><i class="bi bi-star-fill"></i></span>
                            <span class= "rating" th:if="${recipe.getRating() >= 1}"><i class="bi bi-star-fill"></i></span>
                          </div>

                        </small>
                      </div>
                      <div class="col-lg-4">
                        <h6>Category: <span id="category" th:text="${recipe.category}"></span></h6>
                      </div>

                    </div>
                  </div>
                </div><!-- End Icon Box -->
              </div>

              <div class="col-lg-3 justify-content-center rounded-5 mt-10" th:unless="${recipe.productList.isEmpty()}">
                <div class="icon-box d-flex flex-column align-items-center rounded-5 mt-10">
                  <h4>Needed products</h4>

                  <a title = "Add All items to your Shopping list" th:href="@{/add-all-products-to-shopping-list/{id}(id =${recipe.id})}" class="btn btn-light " > Add all needed products to your Shopping list</a>
                  <table class="table table-responsive-sm  rounded-3 bg-white"  >
                    <thead>
                    <tr>
                      <th></th>
                      <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr   th:each="product:${recipe.productList}">
                      <td  >
                        <a title = "Add this item to your Shopping list" class="bi bi-cart-plus" href="#" th:href="@{/add-product-to-shopping-list/{id}/{name}(id = ${recipe.id}, name =${product.name})}"></a>
                        <a th:href="@{#}" class="btn btn-light " th:text="${product.name}"> </a>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div><!-- End Icon Box -->

              <!-- Post new comment -->
              <div class="col-lg-3 justify-content-center  rounded-5" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box d-flex flex-column align-items-center rounded-5 bg-body-secondary">
                  <i class="bi bi-pencil-fill"></i>
                  <div>
                    <!-- Comments submission -->
                    <form id="commentForm "
                          th:action="@{/save-comment/{id}(id=${recipe.id})}"
                          th:method="POST">

                      <div class="rate text-bg-body-primary rounded-3">
                        <h6 class="mb-0"><small class="text-danger"> * </small> Rate this recipe </h6>
                        <div class="rating" >
<!--                          <input type="hidden" name="rating" th:value="0" id="0">-->
                          <input type="radio" name="rating" th:value="5" id="5"><label for="5" >☆</label>
                          <input type="radio" name="rating" th:value="4" id="4"><label for="4">☆</label>
                          <input type="radio" name="rating" th:value="3" id="3"><label for="3">☆</label>
                          <input type="radio" name="rating" th:value="2" id="2"><label for="2">☆</label>
                          <input type="radio" name="rating" th:value="1" id="1"
                          required="required"
                                 aria-describedby="ratingHelpInline"><label for="1">☆</label>

                        </div>
                        <small>
                          *required
                        </small>
                      </div>

                      <div class="form-group mt-3">

                        <h4><small class="text-danger"> * </small> Leave a comment </h4>
                        <label for="text"></label>
                        <textarea name="text"
                                  id="text"
                                  cols="30"
                                  rows="5"
                                  required minlength="5" maxlength="100"
                                  aria-describedby="textHelpInline"
                                  class="form-control"
                                  placeholder="Message..."
                                  style="background-color: white;"></textarea>
                      </div>

                      <div class="form-group mt-2">
                        <input type="submit"
                               class="btn btn-outline-dark rounded-5"
                               id="postComment"
                               value="Post"/>
                      </div>
                    </form>
                    <!-- Comments submission -->
                  </div>
                </div>
              </div><!-- End Icon Box -->
              <div class="row lg-12 justify-content-center mt-10">
                <!-- ======= Testimonials Section ======= -->








                <section id="testimonials" class="testimonials section-bg" th:unless="${comments.isEmpty()}">
                  <div class="container" data-aos="fade-up">

                    <div class="section-header">
                      <p>The Latest Comments <span>About This Recipe</span></p>
                    </div>

                    <div class="slides-1 swiper" data-aos="fade-up" data-aos-delay="100">
                      <div class="swiper-wrapper" >

                        <div class="swiper-slide" th:each="comment:${comments}">
                          <div class="testimonial-item">
                            <div class="row gy-4 justify-content-center">
                              <div class="col-lg-6">
                                <div class="testimonial-content">
                                  <p>
                                    <i class="bi bi-quote quote-icon-left"></i>
                                  <h3><i>
                                    <span th:text="${comment.text}"></span>
                                  </i>
                                  </h3>
                                  <i class="bi bi-quote quote-icon-right"></i>
                                  </p>
                                  <hr class="bg-hero hr-2 w-25 bg-body-secondary"/>
                                  <h6 th:text="${comment.author.username}"></h6>
                                  <h6 th:text="${comment.getDate()}"></h6>
                                  <div class="stars" >
                                    <th:block class= "rating" th:if="${comment.rating > 4.5}"><i class="bi bi-star-fill"></i></th:block>
                                    <th:block class= "rating" th:if="${comment.rating > 3.5}"><i class="bi bi-star-fill"></i></th:block>
                                    <th:block class= "rating" th:if="${comment.rating > 2.5}"><i class="bi bi-star-fill"></i></th:block>
                                    <th:block class= "rating" th:if="${comment.rating > 1.5}"><i class="bi bi-star-fill"></i></th:block>
                                    <th:block class= "rating" th:if="${comment.rating >= 1}"><i class="bi bi-star-fill"></i></th:block>
                                  </div>

                                </div>
                              </div>
                            </div>
                          </div>
                        </div><!-- End testimonial item -->
                      </div>
                      <div class="swiper-pagination"></div>
                    </div>
                  </div>
                  <div class="container d-flex align-items-center justify-content-center mt-3">
                    <a class="btn-light"
                       href="#" th:href="@{/comments/{id}(id=${recipe.id})}">All comments </a>
                  </div>
                </section><!-- End Testimonials Section -->
              </div>
        </div>
      </div>
      </div>
    </section>
  </main><!-- End #main -->
  <!-- ======= Footer ======= -->
  <footer>
    <th:block th:include="~{fragments/footer}"></th:block>
  </footer>
</body>
</html>