<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:include="~{fragments/head}"></th:block>
  <title>All Recipes</title>
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <th:block th:include="~{fragments/nav-bar}"></th:block>
  </header>
 <!-- End Header -->

  <main id="main">
    <input type="hidden" name="recipeId" th:field="*{id}">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2 data-aos="fade-up">

            <div class="section-header">

              <button class="btn glow-button rounded-1 bg-transparent" >
                <a th:href="@{/save-recipe-to-favorites/{id}(id=*{id})}"
                   class="button"> <i class="bi bi-heart-fill"> Add to Favorites </i> </a>
              </button>

              <button th:if="${recipe.getAuthor().username == #authentication.name}" class="btn glow-button rounded-1 bg-transparent" >
                <a th:href="@{/edit-recipe/{Id}(Id=*{id})}"
                   class="button"> <i class="bi bi-pencil-square"> Edit </i> </a>
              </button>

              <button th:unless="${recipe.url.isBlank()}" class="btn glow-button rounded-1 bg-transparent" >
                <a th:href="${recipe.url}"
                   class="button"> <i class="bi bi-link-45deg"> Link </i> </a>
              </button>

            </div>

          </h2>
          <ol>
            <li><a th:href="@{/home}">Home</a></li>
            <li>Recipe Details</li>
          </ol>
        </div>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery section-bg pb-0">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <p  th:text="${recipe.name}"></p>
        </div>
<!--            for each picture...-->
        <div class="gallery-slider swiper" >
          <div class="swiper-wrapper align-items-center" >
            <div class="swiper-slide" th:each="picture :${pictures}">
              <a class="glightbox" data-gallery="images-gallery" th:href="${picture.pictureUrl}" ><img th:src="${picture.pictureUrl}" class="img-fluid rounded-5" alt="" src=""></a>
            </div>
          </div>
          <div class="swiper-pagination m-3"></div>
        </div>

      </div>
    </section><!-- End Gallery Section -->

    <section id="why-us" class="why-us section-bg">
      <div class="container justify-content-center" data-aos="fade-up">

        <div class="col-lg-12 justify-content-center" data-aos="fade-up" data-aos-delay="100">

            <div class="row lg-12 justify-content-center">
              <!-- Recipe Details -->
              <div class="col lg-6 md-8">
                <div class="col-lg-12 justify-content-left rounded-5" data-aos="fade-up" data-aos-delay="200">
                  <div class="icon-box d-flex flex-column align-items-center rounded-5 bg-body-secondary">
                    <i class="bi bi-card-checklist"></i>
                    <h3 th:text="${recipe.name}"></h3>
                    <p>added on <span id="dateAdded" th:text="${recipe.dateAdded}"></span></p>
                    <p>by <span id="getAuthorName" th:text="${recipe.authorName}"></span></p>
                    <hr class="bg-hero hr-2"/>

                    <p>Category: <span id="category" th:text="${recipe.category}"></span></p>
                    <p>SCORE: <span id="rating" th:text="${recipe.rating}"></span></p>
                    <input value="0" type="hidden" class="rating" data-glyphicon="0"
                           th:text="${recipe.rating}">

                    <section class="route-description text-center">
                      <h4>Description:</h4>
                      <p id="description" th:text="${recipe.description}">Description: </p>
                    </section>
                  </div>
                </div><!-- End Icon Box -->
              </div>

              <div class="col-lg-3 justify-content-center rounded-5 mt-10" th:unless="${recipe.productList.isEmpty()}">
                <div class="icon-box d-flex flex-column align-items-center rounded-5 mt-10">
                  <h4>Needed products</h4>

                  <a title = "Add All items to your Shopping list" th:href="@{/add-all-products-to-shopping-list/{id}(id =${recipe.id})}" class="btn btn-light " > Add all needed products to your Shopping list</a>
                  <table class="table table-responsive-sm  rounded-3 bg-white"  >
                    <thead>
                    <tr>
                      <th></th>
                      <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr   th:each="product:${recipe.productList}">
                      <td  >
                        <a title = "Add this item to your Shopping list" class="bi bi-cart-plus" href="#" th:href="@{/add-product-to-shopping-list/{id}/{name}(id = ${recipe.id}, name =${product.name})}"></a>
                        <a th:href="@{#}" class="btn btn-light " th:text="${product.name}"> </a>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div><!-- End Icon Box -->

              <!-- Post new comment -->
              <div class="col-lg-3 justify-content-center  rounded-5" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box d-flex flex-column align-items-center rounded-5 bg-body-secondary">
                  <i class="bi bi-pencil-fill"></i>
                  <div>
                    <!-- Comments submission -->
                    <form id="commentForm" method="POST"
                          th:action="@{/save-comment/{id}(id=${recipe.id})}">

                      <div class="rate text-bg-body-primary rounded-3">
                        <h6 class="mb-0">Rate this recipe</h6>
                        <div class="rating">
                          <input type="radio" name="rating" th:value="5" id="5"><label for="5">☆</label>
                          <input type="radio" name="rating" th:value="4" id="4"><label for="4">☆</label>
                          <input type="radio" name="rating" th:value="3" id="3"><label for="3">☆</label>
                          <input type="radio" name="rating" th:value="2" id="2"><label for="2">☆</label>
                          <input type="radio" name="rating" th:value="1" id="1"><label for="1">☆</label>
                        </div>
                      </div>

                      <div class="form-group mt-3">

                        <h4>Leave a comment</h4>
                        <label for="text"></label>
                        <textarea name="text"
                                  id="text"
                                  cols="30"
                                  rows="5"
                                  class="form-control"
                                  placeholder="Message..."
                                  style="background-color: white;"></textarea>
                        <small id="messageError" class="invalid-feedback">
                          Message should be at least 5 characters.
                        </small>
                      </div>

                      <div class="form-group mt-2">
                        <input type="submit"
                               class="btn"
                               id="postComment"
                               value="Post Comment"/>
                      </div>
                    </form>
                    <!-- Comments submission -->
                  </div>
                </div>
              </div><!-- End Icon Box -->
              <div class="row lg-12 justify-content-center mt-10">
                <!-- ======= Testimonials Section ======= -->








                <section id="testimonials" class="testimonials section-bg" th:unless="${comments.isEmpty()}">
                  <div class="container" data-aos="fade-up">

                    <div class="section-header">
                      <p>The Latest Comments <span>About This Recipe</span></p>
                    </div>

                    <div class="slides-1 swiper" data-aos="fade-up" data-aos-delay="100">
                      <div class="swiper-wrapper" >

                        <div class="swiper-slide" th:each="comment:${comments}">
                          <div class="testimonial-item">
                            <div class="row gy-4 justify-content-center">
                              <div class="col-lg-6">
                                <div class="testimonial-content">
                                  <p>
                                    <i class="bi bi-quote quote-icon-left"></i>
                                  <h3><i>
                                    <span th:text="${comment.text}"></span>
                                  </i>
                                  </h3>
                                  <i class="bi bi-quote quote-icon-right"></i>
                                  </p>
                                  <hr class="bg-hero hr-2 w-25 bg-body-secondary"/>
                                  <h6 th:text="${comment.author.username}"></h6>
                                  <h6 th:text="${comment.getDate()}"></h6>
                                  <h6><span>Rating: </span> <span th:text="${comment.rating}"></span></h6>

                                </div>
                              </div>
                            </div>
                          </div>
                        </div><!-- End testimonial item -->
                      </div>
                      <div class="swiper-pagination"></div>
                    </div>
                  </div>
                  <div class="container d-flex align-items-center justify-content-center mt-3">
                    <a class="btn-light"
                       href="#" th:href="@{/comments/{id}(id=${recipe.id})}">All comments </a>
                  </div>
                </section><!-- End Testimonials Section -->
              </div>
        </div>
      </div>
      </div>
    </section>
  </main><!-- End #main -->
  <!-- ======= Footer ======= -->
  <footer>
    <th:block th:include="~{fragments/footer}"></th:block>
  </footer>
</body>
</html>