<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:include="~{fragments/head}"></th:block>
  <title>Update Recipe</title>
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <th:block th:include="~{fragments/nav-bar}"></th:block>
  </header>
 <!-- End Header -->

  <main id="main-recipes">
    <input type="hidden" name="recipeId" th:field="*{id}">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2 data-aos="fade-up">

            <div class="section-header">
            </div>

          </h2>
          <ol>
            <li class="text-light"><a th:href="@{/recipe/{id}(id=*{id})}" > Back to the recipe </a></li>
            <li class="text-light">Recipe Details</li>
          </ol>
        </div>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery section-bg pb-0">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <p class="text-light" th:text="${recipe.name}"></p>
        </div>
<!--            for each picture...-->
        <div class="gallery-slider swiper">
          <div class="swiper-wrapper align-items-center" >
            <div class="swiper-slide" th:each="picture:${recipe.getImageList()}">

                <img th:if="${recipe.getLatestSavedId()}"  th:src="@{/download/{id}(id=${picture.id})}" class="img-fluid rounded-5" width="800" height="600"   alt="" src="">

            </div>
          </div>
          <div class="swiper-pagination m-3"></div>
        </div>

      </div>
    </section><!-- End Gallery Section -->

    <section id="why-us" class="why-us section-bg">
      <div class="container justify-content-center" data-aos="fade-up">

        <div class="col-lg-12 justify-content-center" data-aos="fade-up" data-aos-delay="100">

            <div class="row lg-12 justify-content-start">
              <div class="col-lg-6 justify-content-start rounded-5" data-aos="fade-up" data-aos-delay="200">

                <form th:method="post" th:action="@{/addImgToRecipe/{id}(id=*{id})}" enctype="multipart/form-data">
                  <div class="mt-3">
                    <input  type="file" id="upload-image" class="btn btn-outline-light text-light bg-transparent" name="img" required="required">
                  </div>
                  <input title="Save picture" type="submit" class="btn btn-outline-dark rounded-5 mt-4"
                         th:value="Submit"/>
                </form>


                <form action="#" th:action="@{/update-recipe/{id}(id=*{id})}" th:object="${recipe}" th:method="PATCH">

                    <h5 class="mt-4 mb-2 text-light"> Title </h5>
                    <input type="text" th:field="*{name}" class="form-control mb-4 col-4">
                    <h5 class="mt-2 mb-2 text-light"> Description </h5>
                    <textarea type="text" th:field="*{description}" class="form-control mb-4 col-4" rows="5">
                    </textarea>

                    <h5 class="mt-2 mb-2 text-light"> Category </h5>
                    <select id="category"
                            name="category"
                            class="form-control-color w-25 m-2 rounded-5 text-center">
                      <option value=""> Select </option>
                      <option th:each="c : ${T(com.example.myshoppingapp.model.enums.Category).values()}"
                              th:text="${c}"
                              th:value="${c}"
                              th:field="*{category}"
                              th:selected="${e} == *{category}">
                        Category type
                      </option>
                    </select>

                    <h5 class="mt-2 mb-2 text-light"> Update Recipe url </h5>
                    <input type="text"  class="form-control mb-4 col-4"
                           id="url"
                           name="url"
                           th:field="*{url}">

                  <button type="submit" class="btn btn-outline-dark col-2 rounded-5 mx-1"> Update </button>
                </form>
                <hr class="bg-hero hr-2"/>
                <div class="row">
                  <div class="col-2">
                    <form  action="#" th:action="@{/delete-recipe/{id}(id=*{id})}" th:method="DELETE">
                      <input type="submit" class="btn btn-outline-dark rounded-5 mx-1 text-danger" value="Delete" />
                    </form>
                  </div>
                  <div class="col-2">
                    <a th:href="@{/home}"
                       class="btn btn-outline-dark rounded-5 mx-1" onclick="history.back()"> Back </a>
                  </div>
                </div>



              </div>
              <div class="col-lg-4 justify-content-center rounded-5 mt-10" >
                <div class="icon-box d-flex flex-column align-items-center rounded-5 mt-10">
                  <h4>Needed products</h4>
                  <h6 th:if="${recipe.productList.isEmpty()}">
                    <hr class="bg-hero hr-4 bg-body-secondary aos-animate"/>
                    No product added for this recipe yet <br>
                    Add the first needed product <br>
                    <i class="bi bi-box-arrow-in-down-left"></i>
                  </h6>
                  <table class="table table-responsive-sm  rounded-3 bg-transparent"  th:unless="${recipe.productList.isEmpty()}">
                    <thead>
                    <tr>
                      <th></th>
                      <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr   th:each="product:${recipe.productList}">
                      <td  >
                        <a title = "Add this item to your Shopping list" class="bi bi-cart-plus" href="#" th:href="@{/add-product-to-shopping-list/{name}(name =${product.name})}"></a>
                        <th:block  th:text="${product.name}"> </th:block>
                      </td>
                      <td>
                        <!--                remove Product-->
                        <a title = "Delete this item from Ingredients" th:href="@{/delete-product-from-recipe/{id}/{productId}(id = ${recipe.id}, productId = ${product.id})}"  class="btn btn-light bg-transparent"><i class="fa-solid fa-xmark"></i></a>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  <div class="col-lg-8 justify-content-center">
                    <form  th:method="post" th:action="@{/add-product-to-recipe/{id}(id = ${recipe.id})}">
                      <input type="text" class="form-control rounded-5 border-dark" id="addItems" placeholder="Add item to this recipe . . ." name="productName">
                    </form>
                  </div>
                </div>
              </div><!-- End Icon Box -->
            </div>
        </div>
      </div>
    </section>







  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer>
    <th:block th:include="~{fragments/footer}"></th:block>
  </footer>

</body>

</html>