<!DOCTYPE html>
<html lang="en">

<head>
  <th:block th:include="~{fragments/head}"></th:block>
  <title>All Recipes</title>
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <th:block th:include="~{fragments/nav-bar}"></th:block>
  </header>
 <!-- End Header -->

  <main id="main-profile">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container align-content-center">

        <div class="d-flex justify-content-between align-items-center">
          <h2 data-aos="fade-up">

            <div class="section-header align-content-center">
              <p > <span>Update</span> my profile
              </p>
            </div>

          </h2>
          <ol>
            <li><a onclick="history.back()">Back</a></li>
            <li>Update Profile</li>
          </ol>
        </div>

      </div>
    </div><!-- End Breadcrumbs -->


    <section id="why-us" class="why-us section-bg">
      <div class="container justify-content-center" data-aos="fade-up">

        <div class="col-lg-12 justify-content-center" data-aos="fade-up" data-aos-delay="100">

            <div class="row lg-12 justify-content-center">
              <div class="col-lg-6 justify-content-center rounded-5" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box d-flex flex-column align-items-center rounded-5 border-dark ">
                  <div class="profile-card p-3 py-4">
                    <section>
                      <div class="container">
                        <div class="row">
                          <div class="col-md-8 mx-auto">
                            <!--                        DEFAULT PICTURE-->
                            <img th:unless="${user.imageEntity == null}" th:src="@{/download/{id}(id=${user.imageEntity.id})}" width="100" height="100" class="rounded-circle">
                            <img th:if="${user.imageEntity == null}" th:src="@{'/images/default-user-pic.jpg'}" width="100" height="100" class="rounded-circle" />

<!--                            <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>-->

                            <form th:method="post" th:action="@{/addImgToUser}" enctype="multipart/form-data">
                              <div class="mt-3 w-75">
                                <input  type="file" id="upload-image" class="btn btn-outline-light text-dark bg-transparent" name="img" required="required">
                              </div>
                              <input title="Save picture" type="submit" class="btn btn-outline-dark rounded-5 mt-4"
                                     th:value="Submit"/>
                            </form>


                            <span th:if="${msg != null}" th:text="${msg}"></span>
                          </div>
                        </div>
                      </div>
                    </section>


                    <form action="#" th:action="@{/update-user}" th:object="${user}" th:method="PATCH">

                      <div class="text-center mt-3" th:object="${user}">
                        <h4 class="my-3"><strong> Edit your Username </strong></h4>
                        <input type="text" th:field="*{username}" class="form-control rounded-5">
                        <h4 class="my-3"><strong> Change password </strong></h4>
                        <input type="password" name = "password" class="form-control rounded-5">
                        <h4 class="my-3"><strong> Update email </strong></h4>
                        <input type="text" th:field="*{email}" class="form-control rounded-5">
                      </div>
                      <button type="submit" class="btn btn-outline-dark rounded-5 my-3"> Update </button>
                    </form>
                    <hr class="bg-hero hr-2"/>
                    <form th:action="@{/delete-profile}" th:method="delete">
                      <input type="submit" class="btn btn-outline-dark rounded-5 text-danger" value="Delete" />
                    </form>
                    <hr class="bg-hero hr-2"/>
                    <a onclick="history.back()"
                       class="btn btn-outline-dark text-body-secondary rounded-5">Back</a>
                  </div>



                </div>
              </div><!-- End Icon Box -->


            </div>
        </div>
      </div>
    </section>







  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer>
    <th:block th:include="~{fragments/footer}"></th:block>
  </footer>

</body>

</html>