<th:block th:fragment xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <footer id="footer" class="footer">

        <div class="container" sec:authorize="isAuthenticated()">
            <div class="row gy-3">
                <div class="col-lg-3 col-md-6 d-flex">
                    <i class="bi bi-basket icon"></i>
                    <div>
                        <h4>My Shopping list</h4>
                        <p>
                        <a th:href="@{/product-list}" class="text-light">Open Item list</a><br>
                        <form  th:method="post" th:action="@{/add-product}">
                            <input type="text" class="form-control" id="addItem" placeholder="Add item . . ." name="name">
                        </form> <br>
                        </p>
                    </div>

                </div>

                <div class="col-lg-3 col-md-6 footer-links d-flex">
                    <i class="bi bi-layout-text-sidebar-reverse icon"></i>
                    <div>
                        <h4>My Recipe Collection</h4>
                        <p>
                            <a th:href="@{/my-collection}"  class="text-light">View collection</a><br>
                            <a th:href="@{/add-recipe}" class="text-light">Add recipe</a><br>
                        </p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 footer-links d-flex">
                    <i class="bi bi-star-half icon"></i>
                    <div>
                        <h4>Inspiration</h4>
                        <p>
                            <a th:href="@{/all-recipes}"  class="text-light">View our recommendations</a><br>
                        </p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 footer-links d-flex">
                    <i class="bi bi-person-bounding-box icon"></i>
                    <div>
                        <h4>My Profile</h4>
                        <p>
                            <a th:href="@{/user/profile}"  class="text-light">View profile</a><br>
                            <a th:href="@{/update-user}"  class="text-light">Update profile</a><br>
                        </p>
                    </div>
                </div>

            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>ShopLizt 2023</span></strong>. All Rights Reserved
            </div>
        </div>

    </footer><!-- End Footer -->
    <!-- End Footer -->

    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <div id="preloader"></div>

    <!-- Vendor JS Files -->


    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/aos.js"></script>
    <script src="/js/glightbox.min.js"></script>
    <script src="/js/purecounter_vanilla.js"></script>
    <script src="/js/swiper-bundle.min.js"></script>

    <!-- Template Main JS File -->
    <script src="/js/main.js"></script>


    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>


</th:block>