
<th:block th:fragment="nav-bar" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
    <div class="container d-flex align-items-center justify-content-between bg-gradient rounded-5">
        <h3>
            <a href="/" class="logo d-flex align-items-center me-auto me-lg-0">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <!-- <img src="assets/img/logo.png" alt=""> -->
                 Sh <i class="fa-solid fa-cart-arrow-down"></i> pLizt</a>
        </h3>
        <nav id="navbar" class="navbar">
            <th:block sec:authorize="isAuthenticated()">
                <ul >
                    <li>
                        <form  th:method="post" th:action="@{/add-product}">
                            <input type="text" class="form-control" id="addItem" th:placeholder= " #{navbar_add_item}" name="name">
                        </form>
                    </li>
                    <li><a th:text="#{navbar_home}" th:href="@{/home}">Home</a></li>
                    <li><a th:text="#{navbar_item_list}" th:href="@{/product-list}">Item List</a></li>
                    <li><a th:text="#{navbar_my_collection}" th:href="@{/my-collection}">My Collection</a></li>
                    <li><a th:text="#{navbar_recipes}" th:href="@{/all-recipes}">Recipes</a></li>
                    <li  sec:authorize="hasRole('ADMIN')">
                        <a th:text="#{navbar_admin}" class="text-success" th:href="@{/admin}">ADMIN</a>
                    </li>
                    <li class="dropdown">
                        <a class="text-black italic" href="">
                            <th:block th:text="#{registration_subject}"></th:block> <th:block  th:text="${#authentication.name}"></th:block>
                        </a>
                        <ul>
                            <li><a th:text="#{navbar_profile}" th:href="@{/user/profile}">View profile</a></li>
                            <li><a th:text="#{navbar_edit_profile}" th:href="@{/update-user}">Edit profile</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="">
                            <form sec:authorize="isAuthenticated()" th:action="@{/users/logout}" th:method="post">
                                <button type="submit" th:text="#{navbar_logout}" class="text-black italic btn bg-transparent" name="button">Logout</button>
                            </form>
                        </a>

                    </li>
                    <li>
                        <a href="" onclick="return false">
                            <form th:method="get">
                                <select class="bg-transparent rounded-2 btn-outline-light"
                                        onchange="this.form.submit()"
                                        id="lang"
                                        name="lang">
                                    <option value="en_US" th:selected="${#locale.toString()} == 'en_US'">EN</option>
                                    <option value="bg_BG" th:selected="${#locale.toString()} == 'bg_BG'">BG</option>
                                </select>
                            </form>
                        </a>
                    </li>
                </ul>
            </th:block>
        </nav>
        <!-- .navbar -->
        <a sec:authorize="isAnonymous()"  th:text="#{navbar_login}"  class="btn-book-a-table" th:href="@{/users/login}">login</a>
        <i sec:authorize="isAuthenticated()" class="mobile-nav-toggle mobile-nav-show bi bi-list"> </i>
        <i sec:authorize="isAuthenticated()" class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
</th:block>