<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:include="~{fragments/head}"></th:block>
  <title>All Recipes</title>
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <th:block th:include="~{fragments/nav-bar}"></th:block>
  </header>
 <!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2 data-aos="fade-up">

            <div class="section-header">
              <p th:if="${username == null}" class="text-black display-6"> Hello, guest!
              </p>
              <p th:if="${username != null}" class="text-black display-6">Welcome,
                <span th:text="${username}"></span>!
              </p>
            </div>

          </h2>
          <ol>
            <li><a onclick="history.back()">Go back</a></li>
            <li>Home</li>
          </ol>
        </div>

      </div>
    </div><!-- End Breadcrumbs -->

    <section id="why-us" class="why-us section-bg " th:if="${username != null}">
      <div class="container justify-content-center " data-aos="fade-up">
        <div class="col-lg-12 justify-content-center" data-aos="fade-up" data-aos-delay="100">
          <div class="row lg-12 mt-3 h-100 justify-content-center">
            <div class="col-lg-10  col-md-6 mb-auto " data-aos="fade-up" data-aos-delay="200" >
              <div class="icon-box h-100 rounded-5 bg-body-secondary ">
                <article>
                  <section class="box-info lead-box p-0">
                    <article class="box-body align-content-start">
                      <div class="list-group overflow-auto" th:unless="${myRecipes.isEmpty()}">
                        <section id="gallery" class="gallery section-bg pb-0">
                          <div class="container" data-aos="fade-up">
                            <div class="section-header">
                               <h3 class="box-title text-secondary">My Recipe Collection</h3>
                            </div>
                            <!--            for each picture...-->
                            <div class="gallery-slider swiper" >
                              <div class="swiper-wrapper align-items-center" >
                                <div class="swiper-slide" th:each="myRecipe:${myRecipes}">
                                  <img th:src="${myRecipe.imageUrl}" class="img-fluid rounded-3" alt="" src="">
                                  <a title="Open recipe" class="list-group-item list-group-item-action active bg-transparent border-0"  aria-current="true"
                                     th:href="@{/recipe/{id}(id=${myRecipe.id})}" >
                                    <div class="d-flex w-100 justify-content-center">
                                      <h6 class="mb-1 text-body-secondary" th:text="${myRecipe.name}"></h6>
                                    </div>
                                    <div class="rating" >
                                      <span class= "rating" th:if="${myRecipe.getRating() > 4.5}"><i class="bi bi-star-fill"></i></span>
                                      <span class= "rating" th:if="${myRecipe.getRating() > 3.5}"><i class="bi bi-star-fill"></i></span>
                                      <span class= "rating" th:if="${myRecipe.getRating() > 2.5}"><i class="bi bi-star-fill"></i></span>
                                      <span class= "rating" th:if="${myRecipe.getRating() > 1.5}"><i class="bi bi-star-fill"></i></span>
                                      <span class= "rating" th:if="${myRecipe.getRating() >= 1}"><i class="bi bi-star-fill"></i></span>
                                    </div>
                                  </a>
                                  <div class="d-flex justify-content-end">
                                    <a title="Remove from collection" class="text-danger"  th:href="@{/remove-from-favorites/{id}(id = ${myRecipe.id})}">
                                      <i class="bi bi-x"></i>  </a>
                                  </div>
                                </div>
                              </div>
                            </div>

                          </div>
                        </section><!-- End Gallery Section -->



                        <hr class="bg-hero hr-2 bg-body-secondary  aos-animate"/>
                      </div>
                      <div>
                        <p th:if="${myRecipes.isEmpty()}">
                          Your Recipe Collection is empty. <br>
                          Add your first recipe <br>
                          or review our recommendations and add some to your Collection <br>
                          <i class="bi bi-box-arrow-in-down-left"></i>
                        <div class="col justify-content-center">
                          <button class="btn glow-button rounded-5" >
                            <a th:href="@{/add-recipe}"
                               class="btn btn-light"> <i class="fa-solid fa-book-open-reader"></i> Add recipe </a>
                          </button>
                        </div>
                        </p>
                      </div>
                    </article>
                    <article class="bottom-nav h-25">
                      <a class="button" th:href="@{/my-collection}">  Open Your Recipe Collection
                      </a>
                    </article>
                  </section>
                </article>
              </div>
            </div><!-- End Icon Box -->
            <div class="col-lg-4 col-md-6 mt-4" data-aos="fade-up" data-aos-delay="200">
              <div class="icon-box rounded-5 h-50 overflow-y-scroll">
                <i class="bi bi-basket"></i>
                <article>
                  <section class="box-info lead-box pt-3">
                    <article class="box-head align-content-center">
                      <h3 class="box-title text-secondary">My Shopping List</h3>
                      <hr class="bg-hero hr-4 bg-body-secondary aos-animate"/>
                    </article>
                    <article class="box-body pt-2 pb-2 text-left">
                      <section class="scroll-holder" >
                        <div class="list-group overflow-auto" th:unless="${products.isEmpty()}" th:each="product:${products}">
                            <a class="list-group-item list-group-item-action active bg-transparent border-0"  aria-current="true"
                               th:href="@{/product-list}" >
                              <div class="d-flex w-100 m-auto justify-content-left">
                                <h6 class="mb-1 text-body-secondary" th:text="${product.name}"></h6>
                              </div>
                            </a>
                            <hr class="bg-hero hr-2 bg-body-secondary aos-animate"/>
                        </div>
                        <div>
                          <p th:if="${products.isEmpty()}">
                            Nothing yet. <br>
                            Add your first product <br>
                            <i class="bi bi-box-arrow-in-down-left"></i>
                          <div class="col align-content-center" >
                            <form  th:method="post" th:action="@{/add-product}">
                              <input type="text" class="form-control" id="addItem" placeholder="Add item . . ." name="name">
                            </form>
                          </div>
                          </p>
                        </div>
                      </section>
                    </article>
                    <article class="bottom-nav h-25">
                      <hr class="bg-hero hr-2 bg-body-secondary aos-animate"/>
                      <a class="button" th:href="@{/product-list}">  Open Your Shopping list
                      </a>
                    </article>
                  </section>
                </article>
              </div>
            </div><!-- End Icon Box -->

            <div class="col-lg-6  col-md-6 mt-4" data-aos="fade-up" data-aos-delay="200" th:unless="${othersRecipes.isEmpty()}">
              <div class="icon-box rounded-5 h-50 overflow-y-scroll">
                <i class="bi bi-suit-heart-fill"></i>
                <article>
                  <section class="box-info lead-box pt-3">
                    <article class="box-head align-content-center">
                      <h3 class="box-title text-success">You might like our recently added recipes</h3>
                      <hr class="bg-hero hr-4 bg-body-secondary aos-animate"/>
                    </article>
                    <article class="box-body pt-2 pb-2 align-content-start align-text-top">
                      <div class="list-group overflow-auto"  th:each="recipe:${othersRecipes}">
                        <a title="Open recipe" class="list-group-item list-group-item-action active bg-transparent border-0"  aria-current="true"
                           th:href="@{/recipe/{id}(id=${recipe.id})}" >
                          <div class="d-flex w-100 justify-content-between">
                            <i class="bi bi-pin-angle"></i>
                            <h6 class="mb-1 text-body-secondary" th:text="${recipe.name}"></h6>
                            <small ><img  th:src="${recipe.imageUrl}" width="70" height="40" class="square rounded-1" alt=""></small>
                          </div>
                          <div>
                            <small class="mb-2 text-body-secondary"> shared by
                              <th:block  th:text="${recipe.getAuthor().getUsername()}"> </th:block>
                              <th:block  th:text="${recipe.getDays()}"></th:block>
                              days ago
                            </small>
                            <small class="mb-2 text-body-secondary" >
                              <div class="rating" >
                                <span class= "rating" th:if="${recipe.getRating() > 4.5}"><i class="bi bi-star-fill"></i></span>
                                <span class= "rating" th:if="${recipe.getRating() > 3.5}"><i class="bi bi-star-fill"></i></span>
                                <span class= "rating" th:if="${recipe.getRating() > 2.5}"><i class="bi bi-star-fill"></i></span>
                                <span class= "rating" th:if="${recipe.getRating() > 1.5}"><i class="bi bi-star-fill"></i></span>
                                <span class= "rating" th:if="${recipe.getRating() >= 1}"><i class="bi bi-star-fill"></i></span>
                              </div>

                            </small>
                          </div>

                        </a>
                        <a title="Add recipe to my Favorite collection" class="button text-success" th:href="@{/save-recipe-to-favorites/{id}(id=${recipe.id})}">
                          <i class="bi bi-suit-heart-fill"> Save </i>
                          <span title="Number of Saves" class ="text-dark" th:unless="${recipe.numberOfSaves == 0}"  >
                      ( <th:block th:text="${recipe.numberOfSaves}"></th:block> ) </span>
                        </a>
                        <hr class="bg-hero hr-2 bg-body-secondary aos-animate"/>
                      </div>
                    </article>
                    <article class="bottom-nav h-25">
                      <a class="button" th:href="@{/all-recipes}">  Open All Recipes
                      </a>
                    </article>
                  </section>
                </article>
              </div>
            </div><!-- End Icon Box -->
          </div>
        </div>
      </div>
    </section>

    <!-- ======= Recipes Section ======= -->
    <section id="events" class="events" th:if="${!recipes.isEmpty()}" >
      <div class="container" data-aos="fade-up">
        <div class="section-header align-content-center">
          <h2>Recipes</h2>
          <p>Latest <span> Posts </span> </p>

            <a th:href="@{/all-recipes}"
               class="button"> <i class="bi bi-link-45deg"> OPEN ALL </i> </a>

        </div>

        <div class="slides-3 swiper rounded-1" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">
            <div class="swiper-slide event-item d-flex flex-column justify-content-end"
                 th:each="recipe : ${recipes}"
                 th:style="'background-image:url(' + ${recipe.imageUrl} + ');'">

              <h3 th:text="${recipe.name}"></h3>
              <div class="price align-self-start">
                <div class="rating" >
                  <span class= "rating" th:if="${recipe.getRating() > 4.5}"><i class="bi bi-star-fill"></i></span>
                  <span class= "rating" th:if="${recipe.getRating() > 3.5}"><i class="bi bi-star-fill"></i></span>
                  <span class= "rating" th:if="${recipe.getRating() > 2.5}"><i class="bi bi-star-fill"></i></span>
                  <span class= "rating" th:if="${recipe.getRating() > 1.5}"><i class="bi bi-star-fill"></i></span>
                  <span class= "rating" th:if="${recipe.getRating() >= 1}"><i class="bi bi-star-fill"></i></span>
                </div>

              </div>
              <p class="description" th:text="${recipe.category.name}"> </p>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </section><!-- End Recipes Section -->








  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer>
    <th:block th:include="~{fragments/footer}"></th:block>
  </footer>


</body>

</html>