<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hello</title>
</head>
<body>

  Hello, <th:block th:text="${userName}"></th:block>!

  <h1>
    Welcome to ShopLizt!
  </h1>
  <p>
    Visit your homepage and get inspired.
    http://localhost:8000/home
  </p>

  <p>
  Best regards,
  </p>
  <p>
    ShopLizt team
  </p>

</body>
</html>