<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:include="~{fragments/head}"></th:block>
  <title>All Recipes</title>
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <th:block th:include="~{fragments/nav-bar}"></th:block>
  </header>
 <!-- End Header -->

  <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container align-content-center">

        <div class="d-flex justify-content-between align-items-center">
          <h2 data-aos="fade-up">
            <div class="section-header align-content-center">
              <p > <span th:text="${recipe.name}"></span>
              </p>
            </div>
          </h2>
          <ol>
            <li><a th:href="@{/recipe/{id}(id=*{id})}"> Back to Recipe </a></li>
            <li>Recipe Comments</li>
          </ol>
        </div>
        <input type="hidden" name="recipeId" th:field="*{id}">
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Testimonials Section ======= -->

    <section id="testimonials" class="testimonials section-bg" th:if="${!comments.isEmpty()}">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <p>All Comments About "<span th:text="${recipe.name}"></span>"</p>
        </div>

        <div class="slides-1 swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper" >

            <div class="swiper-slide" th:each="comment:${comments}">
              <div class="testimonial-item">
                <div class="row gy-4 justify-content-center">
                  <div class="col-lg-6">
                    <div class="testimonial-content">
                      <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        <th:block th:text="${comment.text}"></th:block>
                        <i class="bi bi-quote quote-icon-right"></i>
                      </p>
                      <h6 th:text="${comment.author.username}"> </h6>
                      <h6 th:text="${comment.getDate()}"> </h6>
                      <hr class="bg-hero hr-2 w-25 bg-body-secondary"/>
                      <h4 th:text="${comment.getRecipeName()}"></h4>
                      <div class="stars">
                        <th:block class= "rating" th:if="${comment.rating > 4.5}"><i class="bi bi-star-fill"></i></th:block>
                        <th:block class= "rating" th:if="${comment.rating > 3.5}"><i class="bi bi-star-fill"></i></th:block>
                        <th:block class= "rating" th:if="${comment.rating > 2.5}"><i class="bi bi-star-fill"></i></th:block>
                        <th:block class= "rating" th:if="${comment.rating > 1.5}"><i class="bi bi-star-fill"></i></th:block>
                        <th:block class= "rating" th:if="${comment.rating >= 1}"><i class="bi bi-star-fill"></i></th:block>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-2 text-center">
                    <img th:if="${comment.author.imageEntity}" th:src="@{/download/{id}(id=${comment.author.imageEntity.id})}" class="img-fluid testimonial-img" alt="" src="">
                    <img th:unless="${comment.author.imageEntity}" th:src="@{'/images/default-user-pic.jpg'}" class="img-fluid testimonial-img" alt="" src="">
                  </div>
                </div>
              </div>
            </div><!-- End testimonial item -->




          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </section><!-- End Testimonials Section -->







  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer>
    <th:block th:include="~{fragments/footer}"></th:block>
  </footer>

</body>

</html>